/* import components */
@import url("./reset.css");
@import url("./variables.css");
@import url("./topbar.css");
@import url("./navbar.css");
/* import icons */
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
/*import fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Baloo 2");

html{
	font-family: "Baloo 2","Poppins", sans-serif,serif;
}

/* .menu{
	display:flex;
	flex-direction:row;
	align-items:flex-end;
	justify-content:space-around;

} */
